$mainColor: #e4282e;
$pointColor: #2f469a;
$white: #ffffff;
$backColor: #fcf4e4;
$black: #000000;
$skillColor: #6940a5ff;
$contentsBackColor: rgba(#87837826, 0.15);
$gray: #9b9a97ff;

@mixin desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 767px) {
    @content;
  }
}

@font-face {
  font-family: Montserrat;
  src: url("~/assets/fonts/Montserrat.ttf");
}
@font-face {
  font-family: Malgun;
  src: url("~/assets/fonts/malgun.ttf");
}

* {
  box-sizing: border-box;
  font-family: Segoe UI, Malgun, serif;
}

html {
  @include desktop {
    font-size: 10px;
  }

  @include mobile {
    font-size: 8px;
  }
}

.clickable {
  cursor: pointer;
}

.inner {
  width: 80vw;
  margin: 0 auto 4rem auto;

  &__subTitle {
    display: flex;
    flex-direction: column;
    width: 30rem;
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    border-bottom: 0.2rem solid #a2a2a277;
    padding-bottom: 1.5rem;
    transition: all 0.6s;
    font-weight: bold;

    &:hover {
      border-bottom-color: $white;
    }

    &.black {
      &:hover {
        border-bottom-color: $black;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;

      & > img {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        margin-right: 0.5rem;
      }
    }
  }
  .mainContainer {
    & > ul > li {
      display: flex;
      font-size: 1.6rem;
      width: 100%;

      & + li {
        margin-top: 1rem;
      }

      & > span:nth-child(1) {
        color: $gray;
        width: 20vw;
        font-weight: bold;
      }

      & > span:not(:first-child) {
        background-color: $contentsBackColor;
        padding: 0.2em 0.4em;
        font-family: Consolas, Malgun, serif;

        & + span {
          margin-left: 1rem;
        }
      }
    }
  }
}

@keyframes showSlowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
