@import "common/styles/common";

.mainFooter {
  display: flex;
  width: 100vw;
  height: 12rem;
  background-color: $black;
  color: $white;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  &__contents {
    display: flex;
    flex-direction: column;
  }
}
