@import "common/styles/common";

.mainFooter {
  display: flex;
  width: 100vw;
  height: 12rem;
  background-color: $black;

  color: $white;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  &__contents {
    display: flex;
    flex-direction: row;

    & > button {
      width: 4.2rem;
      height: 4.2rem;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      border-radius: 50%;

      //&:active {
      //  background-color: $gray;
      //}
      &.github {
        background: url("~/assets/images/github.png") no-repeat $white center;
        object-fit: contain;
        &:active {
          background-color: $gray;
        }
      }
      &.email {
        background: url("~/assets/images/email.png") no-repeat $white center;
        &:active {
          background-color: $gray;
        }
      }
    }

    & + button {
      margin-left: 1rem;
    }
  }
}
