@import "common/styles/common";

.about {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.intro {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  color: $white;
  flex-direction: column;
  padding-top: 5rem;
  animation: showSlowly 2s;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__centerContents {
      display: flex;
      flex-direction: column;
      padding: 0 5rem;
      width: 100%;
      margin-bottom: 5rem;
      margin-top: 5rem;

      &__photo {
        width: 30rem;
        height: 30rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }

      &__description {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 7rem;
        font-weight: bold;
      }
    }

    &__bottomContents {
      display: flex;
      flex-direction: column;
      padding: 0 5rem;
      width: 100%;
      height: 100%;

      & > span {
        font-size: 2rem;
      }

      & > p {
        font-size: 2rem;
        line-height: 1.85;
        font-weight: bold;
      }
    }
  }
}

.introduce {
  &__container {
    & > ul > li {
      & > span:not(:first-child) {
        padding: 0.2em 0.4em;
      }
    }
  }
}

.career {
  display: flex;
  flex-direction: column;
  width: 100vw;

  &__container {
    & > ul > li {
      & > span:not(:first-child) {
        //color: $skillColor;
        padding: 0.2em 0.4em;
      }
    }
  }
}

.skills {
  &__container {
    & > ul > li {
      & > span:not(:first-child) {
        color: $skillColor;
        padding: 0.2em 0.4em;
      }
    }
  }
}

.education {
  &__container {
    & > ul > li {
      & > span:not(:first-child) {
        padding: 0.2em 0.4em;
      }
    }
  }
}
